streamlit
yt-dlp
opencv-python
openai
whisper
langdetect
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
numpy
scikit-image
scikit-learn
requests
beautifulsoup4
google-api-python-client
google-auth
python-dotenv
