torch==2.1.0+cpu
--index-url https://download.pytorch.org/whl/cpu
whisper
streamlit
yt-dlp
opencv-python
openai
langdetect
transformers
numpy
scikit-image
scikit-learn
requests
beautifulsoup4
google-api-python-client
google-auth
python-dotenv
